# Duplicate this file as .env.local and populate with your credentials
NEXT_PUBLIC_APP_URL=https://your-frontend-domain.vercel.app
NEXT_PUBLIC_API_URL=https://your-backend-domain.vercel.app
NEXT_SERVER_PUBLIC_URL=https://your-backend-domain.vercel.app
NEXT_PUBLIC_IMGBB_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
BETTER_AUTH_SECRET=
STRIPE_SECRET_KEY=
MONGO_DB_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
